h1{text-align: center;
font-style: italic;
color: brown;
}
body{background-color: rgb(139, 168, 159);}
h3{
font-size: 30px;
font-style: italic;
color: brown;
text-align: center;
}
.linkedin{
    color: brown;
    text-align: center;

}
.linkedin{
    border: none;
    padding:10px ;
    background-color: rgb(204, 186, 186);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}
