h1 {
    text-align: center;
    font-style: italic;
    color: purple;
    background-color: darkgray;
    border-radius: 10px;
}

body {
    background-size: cover;
    background-color: coral;
}

h3 {
    font-size: 30px;
    font-style: italic;
    color: rgb(86, 12, 155);
    text-align: center;
}

p {
    color: rgb(86, 12, 155);
    height: ;
}

ul {
    color: rgb(86, 12, 155);
    width: 40%;
    margin-top: 100px;
    background-color: darkgray;
    border-radius: 10px;
    padding: 30px;
}

.linkedin {
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    padding: 10px;
    background-color: rgb(175, 63, 209);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    top: 800px;
    left: 45%;
}

.minha-foto {
    border-radius: 20%;
    height: 300px;
}

.minha-descricao {
    width: 20%;
    position: absolute;
    left: 500px;
    top: 200px;
    background-color: darkgray;
    border-radius: 10px;
    padding: 20px;
}